<<!DOCTYPE html>
<html>
<head>
	<p>
 There is a new message from the Farticles contact form.
 The message was sent from <%= "#{ @name }, #{ @email }."%>
 </p>

 <p>
 <%= "#{ @message }."%>
 </p>
</head>
<body>

</body>
</html>