<p>Hello <%= @resource.email %>!</p>

<p>Ugh oh... Someone can't remember their damn password. Wonder how many times you've seen this same screen... -_-' Click the link below to get this over with.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, You're fucked. Your account is prolly already compromised.</p>
<p>.....Good luck</p>
